
<div>

  <h1 style="float: center;margin-left: 380px;"><font color="black"><strong>DOCUMENTS FOR VERIFICATION</strong></font></h1><br>
  <br>
  <a href="#/login" style="float:right"><button>LOGOUT</button></a><br>
  <hr>

  <div class="well">
    <div ng-repeat="x in getverify">
      <h5><strong>DocumentID: {{x.documentid}}</strong></h5>
      <h5><strong>PropertyID: {{x.propertyid}}</strong></h5>
      <embed src="upload/76503khata.pdf" type="application/pdf"   height="300px" width="100%">
      <br>
      <p>Type: {{x.type}}</p>
      <button ng-click="verify(x.documentid)">Verify document</button>
      <hr>
      <br>
    </div>
  </div>
</div>
