<div>

  <h1 style="float: center;margin-left: 380px;"><font color="blue"><strong>Welcome to Real Estate Management</strong></font></h1>


  <a href="#/login" style="float:right"><button>LOGOUT</button></a>
  <a href="#/notification" style="float:right"><button>NOTIFICATIONS</button></a>
  <a href="#/wishlist" style="float:right"><button>ADD WISHLIST</button></a>&nbsp;
  <a href="#/upload" style="float:right"><button>UPLOAD PROPERTY</button></a>
  <a href="#/property" style="float:right"><button>VIEW PROPERTY</button></a>

</div>
