<div>

  <h1 style="font-family: Arial; color: #1a0000; margin-left: 420px"><strong>REAL ESTATE MANAGEMENT</strong></font></h1>
  <br>

  <a href="#/login" style="float:right"><button class="mybutton">LOGOUT</button></a>
  <a href="#/notification" style="float:right"><button class="mybutton">NOTIFICATIONS</button></a>
  <a href="#/wishlist" style="float:right"><button class="mybutton">ADD WISHLIST</button></a>&nbsp;
  <a href="#/upload" style="float:right"><button class="mybutton" onclick="click()">UPLOAD PROPERTY</button></a>
  <a href="#/property" style="float:right"><button class="mybutton">VIEW PROPERTY</button></a>
  <br><br><br><br>
  <h1 style="margin-left: 400px"><strong>ABOUT US</strong></h1>
<div style="margin-left: 400px"  >
  <p style="display: inline-block">We aim to connect the potential buyers and the sellers across the globe.Sellers upload property details with valid
  documents.We overcome the problem of fraud sale
  by having a verification process with the documents.
  Only verified documents which are according to wishlist of the buyer are shown to the buyer.
  Buyer may choose the property he is interested in and contact the owner.
  Meanwhile once the buyer is interested on some property the seller of that property is sent a notification.
  </p>

</div>






  <h1 style="margin-left: 400px"><strong>OUR TEAM</strong></h1>
  <div class="testy" style="margin-left: 400px">
    <img height="150px" width="150px" src="images/person.png"></img>&nbsp;&nbsp;&nbsp;
    <div class="line"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="display: inline-block">Sourav Konare<br>Co-founder. CEO.<br>souravkonare@gmail.com</span >


  </div>
  <br><br>
  <div class="testy" style="margin-left: 400px">
    <img height="150px" width="150px" src="images/person.png"></img>&nbsp;&nbsp;&nbsp;
    <div class="line"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="display: inline-block">Sharath Bhat<br>Co-founder. CTO.<br>sharathbhat55@gmail.com</span >


  </div>

  </div>

</div>
<style>
img{
  display: inline-block;


}
.testy{
  font-size: 22px;
  color: black;
}
p{
  font-size: 22px;
  font-family: sans-serif;
  color: black;

}

  .line{
    height: 150px;
    width: 5px;
    position: absolute;
    display: inline-block;
    background: black;
  }
</style>
