<div class="container">
  <div class="top">
    <h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
  </div>
  <div class="login-box animated fadeInUp" style="width:50%">
    <div class="box-header">
      <h2 style="border-style: groove;">Sign UP</h2>
      <a href="#/login" style="border-style: groove;"><button>Login</button></a>

    </div>
    <form ng-submit="signup(data1)">

      <br>

    <label for="name">NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="username" ng-model="data1.name" pattern="{4,}" required>
    <br/>

    <label for="username">USERNAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="username" ng-model="data1.username" pattern="{4,}" required>
    <br/>
<div class="">
  <label for="password">PASSWORD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="password" ng-model="data1.password" ng-change="analyze(data1.password)" required>

</div>
<div ng-style="passwordStrength" ></div>


<div >
  <br><label for="phone number">PHONE NUMBER</label>
  <input type="text" id="username" ng-model="data1.phone" pattern="[1-9]{1}[0-9]{9}" required>
  <br/>
</div>



    <label for="emailid">EMAIL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="email" id="username" ng-model="data1.email" required>
    <br/>
    <button type="submit" >Sign Up</button>
  </form>
    <br/>
  </div>
</div>




<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
