
<div class="container">
  <div class="top">
    <h1 id="title" class="hidden"><span id="logo">Daily <span>UI</span></span></h1>
  </div>
  <div class="login-box animated fadeInUp" style="width:50%">
    <div class="box-header">
      <h2 style="border-style: groove;">UPLOAD PROPERTY DETAILS</h2>

    </div>

      <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/uploadproperty' method='post' encType="multipart/form-data">

      <br>
      <label for="type">TYPE</label>
      <select name="type">
        <option value="home" selected>HOME</option>
        <option value="land">LAND</option>
      </select>
      <br/>

      <label for="price">PRICE &nbsp;</label>
      <input type="text" name="price">
      <br/>

      <label for="location">LOCATION</label>
      <input type="text" name="location">
      <br/>
      <label for="adress">ADRESS &nbsp;</label>
      <input type="text" name="adress">
      <br/>

      <label for="image">IMAGE</label>
      <input type="file" name="image" />
      <br/>


      <label for="khata">KHATA CERTIFICATE</label>
      <input type="file" name="khata">
      <br/>

      <label for="tax">TAX RECEIT</label>
      <input type="file" name="tax">
      <br/>

      <label for="encumberation">ENCUMBERATION CERTIFICATE</label>
      <input type="file" name="encumberation">
      <input type="hidden" name= "username" value="{{user}}" />

      <input type='submit' value='Upload!' />

    </form>
  </div>
</div>
